<div class="Header">
  <a class="headLeft" href="/profile"></a>
  <h1 class="Title">Scan</h1>
  <a href="headRight" href="/profile">Done</a>
</div>

<div id="setting-container">
  <form id="lang-container" action="#" method="post">
    <div class="langInput">
      <select name="language">
        <option value="nl">Dutch</option>
        <option value="en">English</option>
        <option value="hi">Hindy</option>
        <option value="it">Italian</option>
        <option value="ja">Japanese</option>
        <option value="es">Spanish</option>
      </select> 
    </div>
  </form>
</div>
