<div class="Header">
  <a href=""></a>
  <h1 class="Title">{{user.firstName}}'s History</h1>
  <a class="headRight" id="headAddNew" href="">+</a>
</div>

<div id="itemList-container">
  <a href="/scan">
    <div class="itemElement">
      <img src="/images/plus.png" alt="">
      <p>Scan New Object</p>
    </div>
  </a>
</div>
