<div class="Header">
  <a class="headLeft" href="/profile"></a>
  <h1 class="Title">Scanned Object</h1>
  <a class="headRight" href="/library">Done</a>
</div>

<div id="scanplay-container">
  <div id="scanobj-container">
    <img src="" alt="">
    <p>{{scan}}</p>
    {{!-- <ul>
    {{#each scan}}
      <li>{{this.description}}</li>
      <li>{{this.score}}</li>
    {{/each}}
    </ul> --}}
  </div>

</div>