<div class="Header">
  <a class="headLeft" href="/profile">cancel</a>
  <h1 class="Title">Scan</h1>
  <a href=""></a>
</div>

<div id="scan-container">
  <div id="video-container">
    <video id="video" width="400" height="300"></video>
  </div>
  <canvas id="canvas" width="400" height="300"></canvas>
  <form id="button-container" action="#" method="post" enctype="multipart/form-data">
    <button type="button" id="scan">Scan</button>
  </form>
</div>

